.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-bottom: 100px;
  }
  

  .product {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 330px;
  }
  

  .product:last-child {
    margin-right: 0; 
  }
  
  .product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .product-header-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .product-body {
    padding: 10px 0;
    height: 250px;
  }
  
  .producto-imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .product-footer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    height: 60px;
  }
  
  .product-footer-button {
    flex: 1;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .product-footer-button:hover {
    background-color: #0056b3;
  }
  
  .fa-basket-shopping {
    font-size: 16px;
    margin-right: 4px;
    color: #333;
  }
  