<div class="container">
    <div class="row">
        <div class="col-3">
            <app-menu></app-menu>
        </div>
        <div class="col-9 dashboard">
            <form (ngSubmit)="onSubmit()" #productoForm="ngForm">
                <fieldset class="form-group">
                    <div class="col-sm-12">
                        <label class="control-label" for="nombre">Nombre</label>
                        <input type="text" class="form-control" required [(ngModel)]="producto.nombre" name="nombre">
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-12">
                        <label class="control-label" for="precio">Precio</label>
                        <input type="number" class="form-control" required [(ngModel)]="producto.precio" name="precio">
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-12">
                        <label class="control-label" for="cantidad">Cantidad</label>
                        <input type="number" class="form-control" required [(ngModel)]="producto.cantidad_disponible"
                            name="cantidad">
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary"
                            [disabled]="!productoForm.form.valid">Guardar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <app-footer></app-footer>
</div>